h1{
    font-family: 'Special Elite', cursive;
    color: grey;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 3%;
    padding-top: 5%;
  }
  h4{
    font-family: 'Architects Daughter', cursive;
  }
  span{
    font-family: 'Architects Daughter', cursive;
  }
  .overlay{
    background-color: brown(0, 225, 255, 0.301);
    border-radius: 5px;
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 5%;
  }
  #name{
    color:rgb(43, 214, 0);
    font-weight: 700;
  }
  .all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #quotes-button{
    float: right;
  }
  .card{
    margin-bottom: 2%;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 2px burlywood;
  }
  #date{
    float: right;
    font-size: 14px;
  }
  #datecolor{
    color: yellowgreen;
    font-weight: 700;
  }
  .card-text{
    font-family: 'Handlee', cursive;
    font-weight: 570;
    font-size: 18px;
  }