.form-control{
    color: blueviolet;
    background:transparent;
    font-weight: 500;
  }
  label{
    color: black;
    font-weight: 500;
  }
  hr{
    width: 40%;
    height: 2px;
    background-color: black;
  }
  .heading{
    color: black;
    text-align: center;
    padding-top: 2%;
  }
  .container-fluid{
    background-color: rgba(0, 0, 0, 0.374);
    border-radius: 4px;
    padding-bottom: 5%;
    box-shadow: 2px 2px 3px 2px black;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 5%;
  }